.movie-list {
    list-style-type: none;
    padding: 0;
  }

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.movie-list .movie {
    background: #fff;
    padding: 30px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    position: relative;
  
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
  